<div>
    <div style="background-color: rgb(0, 0, 76)">
        <div class="flex text-white container mx-auto py-1">

            <a class="w-1/5 mx-2 cursor-pointer">
                <fa-icon [icon]="faPhone" rotate="90"></fa-icon>
                <span class="ml-2">+1(809) 616-1616</span>
            </a>

            <a class="w-1/5 mx-2 cursor-pointer">
                <fa-icon [icon]="faPaperPlane"></fa-icon>
                <span class="ml-2">info@unicaribe.edu.do</span>
            </a>

            <a class="w-1/5 mx-2 cursor-pointer">
                <fa-icon [icon]="faQuestion"></fa-icon>
                <span class="ml-2">FAQ</span>
            </a>

            <div class="w-1/5 mx-5"></div>

            <div class=" flex w-1/5">
                <a class="mx-5 cursor-pointer">
                    <h3>
                        <fa-icon [icon]="faFacebook" size="lg"></fa-icon>
                    </h3>
                </a>
                <a class="mx-5 cursor-pointer">
                    <h3>
                        <fa-icon [icon]="faTwitter" size="lg"></fa-icon>
                    </h3>
                </a>
                <a class="mx-5 cursor-pointer">
                    <h3>
                        <fa-icon [icon]="faInstagram" size="lg"></fa-icon>
                    </h3>
                </a>
                <a class="mx-5 cursor-pointer">
                    <h3>
                        <fa-icon [icon]="faYoutube" size="lg"></fa-icon>
                    </h3>
                </a>
            </div>

        </div>
    </div>

    <div class="flex mt-10 container mx-auto">
        <a class="w-2/5 cursor-pointer" href="">
            <img src="../../assets/logo-unicaribe.png" alt="...">
        </a>

        <a class="w-1/5 cursor-pointer" href="">
            <img src="../../assets/Logo-Coop-Unicaribe-web.png" alt="..." width="200" height="99">
        </a>

        <a class="w-1/5 cursor-pointer" href="">
            <img src="../../assets/logo-cayei-unicaribe.jpg" alt="..." width="200" height="99">
        </a>

        <a class="w-1/5 cursor-pointer" href="">
            <img src="../../assets/logo-uniempleo-unicaribe.png" alt="..." width="200" height="99">
        </a>
    </div>

    <div id="secciones" class="flex container mx-auto">

        <div class="p-3 text-lg text-blue-900 hover:bg-blue-901 hover:text-white mx-1 cursor-pointer seccion menu">
            <span class="mr-2">UNICARIBE</span>
            <fa-icon [icon]="faChevronDown"></fa-icon>
            <div id="menu_unicaribe" class="-ml-3 flex bg-blue-901 flex-col z-10 menu_content mt-3">
                <a class="py-2 px-4 cursor-pointer text-sm text-gray-500" href="">Rectoria</a>
                <a class="py-2 px-4 cursor-pointer text-sm text-gray-500" href="">Filosofía</a>
                <a class="py-2 px-4 cursor-pointer text-sm text-gray-500" href="">Investigación e innovación</a>
                <a class="py-2 px-4 cursor-pointer text-sm text-gray-500" href="">Cooperativa</a>
                <a class="py-2 px-4 cursor-pointer text-sm text-gray-500" href="">CAYEI</a>
            </div>
        </div>

        <div class="p-3 text-lg hover:bg-blue-901 text-blue-900 hover:text-white mx-1 cursor-pointer seccion menu">
            <span class="mr-2">Oferta Académica</span>
            <fa-icon [icon]="faChevronDown" ></fa-icon>
            <div id="menu_oferta_academica" class="flex bg-blue-901 text-white z-10 mt-3 -ml-32 p-6 menu_content w-10/12">
                <div class="flex-1 mx-4">
                    <h1 class="text-3xl font-light" >Grado</h1>
                    <span class="border-b-4 border-green-700 block w-3/12"> </span>
    
                    <div class="ml-4 mt-4">
                        <h1 class="border-b-2 border-white py-2 font-light font-normal text-lg">Negocios</h1>
                        <a class="py-2 cursor-pointer text-sm text-gray-500 hover:text-white flex flex text-base" href="#">Administración de Empresas</a>
                        <a class="py-2 cursor-pointer text-sm text-gray-500 hover:text-white flex flex text-base" href="#">Administración Hotelera</a>
                        <a class="py-2 cursor-pointer text-sm text-gray-500 hover:text-white flex flex text-base" href="#">Mercadeo</a>
                        <a class="py-2 cursor-pointer text-sm text-gray-500 hover:text-white flex flex text-base" href="#">Contabilidad</a>
                    </div>
                    <div class="ml-4 mt-4">
                        <h1 class="border-b-2 border-white py-2 font-light font-normal text-lg">Ciencias Jurídicas y Políticas</h1>
                        <a class="py-2 cursor-pointer text-sm text-gray-500 hover:text-white flex flex text-base" href="#">Derecho</a>
                        <a class="py-2 cursor-pointer text-sm text-gray-500 hover:text-white flex flex text-base" href="#">Relaciones Internacionales</a>
                    </div>
                </div>
                <div class="flex-1 mx-4">
                    <img src="../../assets/CollegeBoard2.png" alt="" height="60" width="190">
                    <div class="ml-2 mt-5">
                        <h1 class="border-b-2 border-white py-1 font-light font-normal text-lg">Humanidades</h1>
                        <a class="py-2 cursor-pointer text-sm text-gray-500 hover:text-white flex text-base" href="#">Educación Inicial</a>
                        <a class="py-2 cursor-pointer text-sm text-gray-500 hover:text-white flex text-base" href="#">Educación Primaria, Primer Ciclo</a>
                        <a class="py-2 cursor-pointer text-sm text-gray-500 hover:text-white flex text-base" href="#">Educación Primaria, Segundo Ciclo</a>
                    </div>
                    <div class="ml-2 mt-16">
                        <h1 class="border-b-2 border-white py-2 font-light font-normal text-lg">Tecnología</h1>
                        <a class="py-2 cursor-pointer text-sm text-gray-500 hover:text-white flex text-base" href="#">Licenciatura en Informática</a>
                    </div>
                </div>
                <div class="flex-1 mx-4">
                    <h1 class="text-3xl font-light" >Educación Continuada</h1>
                    <span class="border-b-4 border-green-700 block w-3/12"> </span>
    
                    <div class="ml-4 mt-4">
                        <h1 class="border-b-2 border-white py-2 font-light font-normal text-lg">Progamas</h1>
                        <a class="py-2 cursor-pointer text-sm text-gray-500 hover:text-white flex flex text-base" href="#">Talleres</a>
                        <a class="py-2 cursor-pointer text-sm text-gray-500 hover:text-white flex flex text-base" href="#">Diplomados</a>
                    </div>
    
                    <h1 class="text-3xl font-light mt-10" >Becas Internacionales</h1>
                    <span class="border-b-4 border-green-700 block w-3/12"> </span>
    
                    <div class="ml-4 mt-4">
                        <h1 class="border-b-2 border-white py-2 font-light font-normal text-lg">Progamas de Becas</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-3 text-lg hover:bg-blue-901 text-blue-900 hover:text-white mx-1 cursor-pointer seccion">
            <span>Admisiones</span>
        </div>

        <div class="p-3 text-lg hover:bg-blue-901 text-blue-900 hover:text-white mx-1 cursor-pointer seccion">
            <span>Contacto</span>
        </div>
    </div>

    <div>
        <h1>texto de prueba</h1>
    </div>
</div>