@media screen and (min-width: 1024px) {
    #contact-center{
        margin-top: 40%; 
        margin-left: 71%;
    }
}

@media screen and (max-width: 1024px) {
    #contact-center{
        margin-top: 27%; 
        margin-left: 75%;
    }
}