<div class="container mx-auto">
  <div class="my-3 p-3">
    <h1 class="text-3xl font-light">Noticias Recientes</h1>
    <span class="border-b-4 border-green-700 block w-16 mt-1 mb-5"> </span>

    <div class="flex">
      <app-card-noticia class="w-1/3"
      imageUrl="../../assets/unicaribe-personas-1.jpg"
      content="La Red Universitaria de Latinoamerica y el Caribe para la Reducción de Riesgos de Desastres, REDULAC Capítulo Dominicano ..."
      title="REDULAC RRD, USAID Y OFDA promueven la Gestión integral de Riesgo de Desastres"
      date="viernes, 08 de marzo del 2019"
      ></app-card-noticia>

      <app-card-noticia class="w-1/3"
      imageUrl="../../assets/unicaribe-personas-2.jpg"
      content="El próximo miércoles 13 de marzo iniciará XII Festival de Teatro Itinerante 2019 en la Universida del Caribe UN..."
      title="XII Festival de Teatro Itinerante 2019"
      date="viernes, 08 de marzo del 2019"
      ></app-card-noticia>

      <app-card-noticia class="w-1/3"
      imageUrl="../../assets/unicaribe-personas-3.jpg"
      content="El Ministerio de Industria, Comercio y Mipymes (MICM) inauguró el décimo noveno Centro de Apoyo y Atención a las micro, p..."
      title="MICM abre nuevo centro mipymes en Universidad del Caribe"
      date="jueves, 07 de marzo del 2019"
      ></app-card-noticia>

    </div>
    <div class="flex">
      <a href="#" class="bg-blue-901 hover:bg-red-700 text-white py-3 px-5 text-lg mx-auto rounded">Ver más noticias...</a>
    </div>
  </div>
</div>
